.card {
  background-color: #1f2a35;
  border: 2px solid #ff4655;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(255, 70, 85, 0.5);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
  margin-bottom: 15px;
}

.card h3 {
  color: #ff4655;
  margin-bottom: 10px;
}

.card p {
  color: #dcdcdc;
}

